body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 25px;
}

a{
  color:#f9faf8;
  text-decoration: none;
}


.hero {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
  height: auto;
}

.hero div {
  display: flex;
  border: 1px red solid;
  margin-left: 110px;
  margin-right: 110px;
}

.hero-header, .hero-header h3 {
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.hero-main{
  
  padding: 45px;
}

.hero-main .main-left{
  display: flex;
  flex-direction:column;
  border: 1px solid red;
}

#sign-up-button{
  border-radius: 3px;
  border: white 2px;
  color: #f9faf8;
  background-color: #3882f6;
  width: 75px;
  text-align: center;
}


.hero-main .main-right img{
  width: auto;
  height: 250px;
}



.info {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  text-align: center;
  background-color: #f9faf8;
}

.info-header {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 70px;
}

.img-item {
  display: flex;
  flex-direction: column;
}

.info-png {
  width: 100px;
  height: 100px;
  border: 3px #3882f6 solid;
  border-radius: 25%;
}

.quote {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  background-color: #e5e7eb;
}

.quote-wrapper{
    display:flex;
    flex-direction: column;
    align-items: end;
    margin-right: 80px;
}

.quote .quote-para {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0;
}

.CTA {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
}

.CTA .subCall {
  display: flex;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #3882f6;
  padding: 20px;
  justify-content: center;
}

.footer {
  margin-top: auto;
  background-color: #1f2937;
  color: #f9faf8;
}
